<div class="main-content" xmlns="http://www.w3.org/1999/html">
  <div class="container-fluid">
    <div class="card-body">
      <ul class="nav nav-pills nav-pills-warning" role="tablist">

      </ul>
      <div class="tab-content tab-space">

        <!---->

        <div class="col-md-11 tab-pane active" id="link0" >
          <div class="card " style="margin-left:1cm;">
            <div class="card-header  card-header-icon">
<!--              <div class="card-icon" style="background-color:rgba(17, 17, 227, 0.88);font-size: smaller">-->
<!--                <i class="material-icons">search</i>-->
<!--              </div>-->
              <h5 class="card-title"
                  style="background-color:rgba(17, 17, 227, 0.88);border-radius: initial; font-weight: 800;font-size: large; color: whitesmoke; padding: 8px;margin-right:auto; width: 28%;">
                Rechercher Participant</h5>
              <button mat-raised-button type="button" style="float:right;margin-top:-1cm; font-size: 16px;" data-toggle="modal" data-target="#ajouter" class="btn btn-success">
                <i class="material-icons" >add_circle</i> Ajouter un participant
              </button>

            </div>
            <div class="card-body ">
              <form class="navbar-form">
                <span class="bmd-form-group">
                  <div class="input-group no-border">
                    <input type="text" name="matricule" class="form-control" placeholder="Matricule" id="matricule"
                           [(ngModel)]="matricule" >

                  </div>
                </span>


              </form>
            </div>


            <div class="card-footer" style="padding-left: 80%;">
              <button mat-raised-button type="submit" class="nav-link" data-toggle="tab" href="#link1"
                      (click)="getEmployeByMatricule()" class="btn btn-fill btn-success"><i
                      class="material-icons">search</i>Rechercher</button>
            </div>
          </div>
        </div>

        <div class="row" >
          <div class="card">
        <div class="col-md-12" *ngIf="employeRech">

<!--          <div class="card-header card-header-icon" >-->
<!--            <div class="card-icon" style="background-color:rgba(17, 17, 227, 0.88)">-->
<!--              <i class="material-icons">list</i>-->
<!--            </div>-->
            <h2 class="text-center" style="background-color:rgba(17, 17, 227, 0.88);
             color: white; padding: 2px; width: 40%;">Carnet Participants </h2>


          <div class="card-body table-full-width">
           
            <div class="material-datatable">
              <div class="text-center">
                <mat-spinner *ngIf="!employeRech" style="margin-left: 15cm;"></mat-spinner>

              </div>
              
              <table id="datatable" class="table table-bordered table-striped" width="100%" style="width:100%"
                class="table table-hover">

                <thead class="text-black">

                  <tr>

                    <th cope="col"><b> Numero Carnet</b></th>
                    <th cope="col"><b> Nom</b></th>
                    <th cope="col"><b> Prenom</b></th>
                    <th cope="col"><b> Matricule</b></th>
                    <th cope="col"><b> Reference</b></th>
                    <th cope="col"><b> Service</b></th>
                    <th cope="col"><b> Categorie</b></th>

                    <th class="disabled-sorting text-center">Actions</th>

                  </tr>
                </thead>
                <tbody>
                  <tr style="font-weight: 500;">
                    <td class="text-center">

                      <span *ngIf="employeRech.statut" class="badge badge-success"> {{employeRech.numero_carnet}}</span>
                      <span *ngIf="!employeRech.statut" class="badge badge-danger">{{employeRech.numero_carnet}}</span>
                    </td>
                    <td>{{employeRech.nom}}</td>
                    <td>{{employeRech.prenom}}</td>
                    <!-- <td >{{employe.sexe}}</td> -->
                    <td>{{employeRech.matricule}}</td>
                    <td>{{employeRech.reference}}</td>
                    <td>{{employeRech.ipmService?.type_service}}</td>
                    <td>{{employeRech.ipm_categorie?.libelle}}</td>

                    <td class="td-actions">

                      <!-- <label mat-raised-button>
                        <span style="margin:2px;" *ngIf="employe.statut!=''" class="badge badge-danger">X<i class="material-icons"></i></span>
                        <span style="margin:2px;" *ngIf="employe.statut==''" class="btn btn-success"><i class="material-icons">check</i></span>
                      </label>  -->
                      <button mat-raised-button (click)="getEmploye(employeRech)" data-toggle="modal"
                       data-target="#statu" style="margin:2px;" type="button" class="btn" style="background-color: rgb(101, 101, 110);">
                        <i class="fa fa-user-times" aria-hidden="true" style="color: rgb(251, 252, 253)"></i>

                      </button>
                      <button mat-raised-button style="margin:2px;" type="button" class="btn btn-info">
                        <i class="material-icons"
                          [routerLink]="['/gestion-employes/carnetEmploye/'+employeRech.idemp]">person</i>
                      </button>

                      <button mat-raised-button style="margin:2px;"type="button" class="btn btn-warning ">
                        <i class="material-icons"
                          [routerLink]="['/gestion-employes/ModifierEmployes/'+employeRech.idemp]">edit</i>
                      </button>
                      <!-- <button mat-raised-button type="button" class="btn btn-danger ">
                                                    <i class="fa fa-trash-o" (click)="supprimerEmploye(employe)"></i>
                                                </button> -->



                    </td>

                  </tr>

                </tbody>
<!--                <button mat-raised-button (click)="upload()" type="button" style="font-size: 16px;background-color:rgba(17, 17, 227, 0.88); color: white; margin-left: 20px;">-->
<!--                  <i class="material-icons">file_download</i>Telecharger-->
<!--                </button>-->
              </table>


            </div>
          </div>

          <!--modal pour afficher le detail d'un employe-->
          <div class="ecommerce">
            <div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              aria-hidden="true">
              <div class="modal-dialog modal-ecom">
                <div class="modal-content ">
                  <div class="modal-header">
                    <h4 class="modal-title">Information de l'employe</h4>
                    <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                      <i class="material-icons">clear</i>
                    </button>

                  </div>
                  <div class="modal-body ">
                    <div class="card ">
                      <div class="card-body ">
                        <label class="col-md-6">Numero Carnet</label>
                        <label class="col-md-6">{{currentemploye.idemp}}</label>
                        <label class="col-md-6">Nom</label>
                        <label class="col-md-6">{{currentemploye.nom}}</label>
                        <label class="col-md-6">Prenom</label>
                        <label class="col-md-6">{{currentemploye.prenom}}</label>
                        <label class="col-md-6">Sexe</label>
                        <label class="col-md-6">{{currentemploye.sexe}}</label>
                        <label class="col-md-6">Adresse</label>
                        <label class="col-md-6">{{currentemploye.adresse_domicile}}</label>
                        <label class="col-md-6">Date Naissance</label>
                        <label class="col-md-6">{{currentemploye.date_nais}}</label>
                        <label class="col-md-6">Lieu Naissance</label>
                        <label class="col-md-6">{{currentemploye.lieu_nais}}</label>
                        <label class="col-md-6">Telephone</label>
                        <label class="col-md-6">{{currentemploye.telephone}}</label>
                        <label class="col-md-6">Situation Matrimonial</label>
                        <label class="col-md-6">{{currentemploye.situation_familial}}</label>
                        <label class="col-md-6">Matricule</label>
                        <label class="col-md-6">{{currentemploye.matricule}}</label>
                        <label class="col-md-6">Reference</label>
                        <label class="col-md-6">{{currentemploye.reference}}</label>
                        <label class="col-md-6">Date Recrutement</label>
                        <label class="col-md-6">{{currentemploye.date_recrutement}}</label>
                        <label class="col-md-6">Service</label>
                        <label class="col-md-6">{{currentemploye.ipmService?.type_service}}</label>
                        <label class="col-md-6">Categorie</label>
                        <label class="col-md-6">{{currentemploye.ipm_categorie?.libelle}}</label>
                        <label class="col-md-6">Numero Carnet</label>
                        <label class="col-md-6">{{currentemploye.numero_carnet}}</label>

                      </div>
                    </div>
                    <div class="modal-footer">
                      <button mat-raised-button type="submit" class="btn btn-fill btn-fill" data-dismiss="modal"
                        >Retour</button>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
          <!--fin modal-->
        </div>
      </div>
    </div>
  </div>
    </div>

  <!--  Formulaire remplir information de l'employé -->
  <div class="modal fade" id="ajouter" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="background-color: whitesmoke;color: black;">
        <div class="modal-header">
          <h3 class="modal-title" id="myModalLabel">Prise en Compte d'un nouveau participant</h3>
          <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
           <b class="btn btn-danger"> <i class="material-icons" style="color: red;">close</i> fermer</b>
          </button>
        </div>
        <div class="card" *ngIf="desac">
          <p style="text-align:center; color:red;font-size: 30px;">Matricule existe deja!!!</p>
      </div>
        <div class="card" *ngIf="desactive">
          <p style="text-align:center; color:red;font-size: 30px;">Veuiller remplir les Champs!!!</p>
      </div>
        <div class="container-fluid">
          <form class="form-horizontal">
            <input type="hidden" class="form-control">
            <div class="form-group card-header">
              <div class="row">
                <div class="col-md-6 form-group" [formGroup]="FormControlEmpployes">
                  <mat-form-field class="example-full-width">
                      <libelle> Nom Employe<span style="color: red">*</span></libelle>
                      <input matInput type="text" class="form-control" id="nom" formControlName="nom">
                   <!-- <mat-error *ngIf="FormControlEmpployes.controls['nom'].hasError('required')">
                      votre nom est <strong>Obligatoire</strong>
                    </mat-error>-->
                  </mat-form-field>

                </div>

                <div class="col-md-6 form-group" [formGroup]="FormControlEmpployes">
                  <mat-form-field class="example-full-width">
                      <libelle> Prenom Employe<span style="color: red">*</span></libelle>

                      <input matInput type="text" class="form-control" id="prenom"
                      formControlName="prenom">
<!--                    <mat-error *ngIf="FormControlEmpployes.controls['prenom'].hasError('required')">-->
<!--                      votre prenom est <strong>Obligatoire</strong>-->
<!--                    </mat-error>-->
                  </mat-form-field>

                </div>

              </div>
              <div class="row">
                <div class="col-md-6 form-group" [formGroup]="FormControlEmpployes">
                  <mat-form-field class="example-full-width">
                      <libelle> Lieu de Naiss... Employe<span style="color: red">*</span></libelle>
                      <input matInput type  ="text" class="form-control" id="lieu_nais"
                      formControlName="lieu_nais">
<!--                    <mat-error *ngIf="FormControlEmpployes.controls['lieu_nais'].hasError('required')">-->
<!--                      lieu de naissan...<strong>Obligatoire</strong>-->
<!--                    </mat-error>-->
                  </mat-form-field>

                </div>
                <div class="col-md-6 form-group" [formGroup]="FormControlEmpployes">
                  <mat-form-field class="example-full-width">
                      <libelle> Adresse_domicile Employe<span style="color: red">*</span></libelle>
                      <input matInput type="text" class="form-control" id="adresse_domicile"
                      formControlName="adresse_domicile">
<!--                    <mat-error *ngIf="FormControlEmpployes.controls['adresse_domicile'].hasError('required')">-->
<!--                      Adresse domicile <strong>Obligatoire</strong>-->
<!--                    </mat-error>-->
                  </mat-form-field>

                </div>

              </div>

              <div class="row">
                <div class="col-md-6 form-group"[formGroup]="FormControlEmpployes">
                  <mat-form-field>
                      <libelle> Date Naissance Employe<span style="color: red">*</span></libelle>
                      <input matInput [matDatepicker]="picker1" (click)="picker1.open()" id="date_nais"
                      placeholder="Date Naissance" formControlName="date_nais" max="{{min}}-12-31">
                    <mat-datepicker-toggle matSuffix [for]="picker1">
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
<!--                    <mat-error *ngIf="FormControlEmpployes.controls['date_nais'].hasError('required')">-->
<!--                      la date de naissan... est <strong>Obligatoire</strong>-->
<!--                    </mat-error>-->
                  </mat-form-field>

                  <!-- <mat-form-field >
                                          <input matInput [matDatepicker]="picker" placeholder="Choose a date" (click)="picker.open()">
                                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                          <mat-datepicker #picker></mat-datepicker>
                                        </mat-form-field> -->

                </div>
                <div class="col-md-6" [formGroup]="FormControlEmpployes" style="width: 200px;margin-top:-5px;">
                  <!-- <mat-form-field appearance="fill"> -->
                    <mat-form-field>
                        <libelle> Choisir  sexe Employe<span style="color: red">*</span></libelle>
                        <mat-select  formControlName="sexe" class="form-control" id="sexe"
                        >
                        <mat-option *ngFor="let sex of sexe" [value]="sex.value">
                          {{ sex.value }}
                        </mat-option>
                      </mat-select>
<!--                      <mat-error *ngIf="FormControlEmpployes.controls['sexe'].hasError('required')">-->
<!--                        Sexe <strong>Obligatoire</strong>-->
<!--                      </mat-error>-->
                    </mat-form-field>

                  <!-- <mat-option>Choissir le sexe ci-dessous
                    <select [formControl]="selectFormControl" class="form-control" id="sexe" placeholder="Sexe"
                      formControlName="sexe">

                      <option value="masculin">Masculin</option>
                      <option value="feminin">Feminin</option>

                    </select>
                  </mat-option> -->


                </div>

              </div>
              <div class="row">
              <div class="col-md-6 form-group" [formGroup]="FormControlEmpployes">
                <mat-form-field class="example-full-width">
                    <input matInput type="text" class="form-control" id="telephone" placeholder="" mask="(00) 000-00-00"
                    formControlName="telephone">
                  <small>Telephone: XX-XXX-XX-XX</small>
                </mat-form-field>

              </div>
              <div class="col-md-6 form-group" [formGroup]="FormControlEmpployes" >
                <mat-form-field>
                    <libelle> date_recrutement Employe<span style="color: red">*</span></libelle>
                    <input matInput [matDatepicker]="picker2" (click)="picker2.open()" id="date_recrutement" style="margin-top: 32px;"
                     formControlName="date_recrutement">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2 startView="year"></mat-datepicker>
<!--                  <mat-error *ngIf="FormControlEmpployes.controls['date_recrutement'].hasError('required')">-->
<!--                    la date de recrutement est <strong>Obligatoire</strong>-->
<!--                  </mat-error>-->
                </mat-form-field>

              </div>
            </div>
              <div class="row">
                <div class="col-md-6 form-group" [formGroup]="FormControlEmpployes" style="margin-top:-5px;">
                  <mat-form-field>
                      <libelle> situation familiale Employe<span style="color: red">*</span></libelle>
                      <mat-select  formControlName="situation_familial" class="form-control" id="situation"
                      >
                      <mat-option *ngFor="let situat of situation_familial" [value]="situat.value">
                        {{ situat.value }}
                      </mat-option>
                    </mat-select>
<!--                    <mat-error *ngIf="FormControlEmpployes.controls['situation_familial'].hasError('required')">-->
<!--                      Situation familial <strong>Obligatoire</strong>-->
<!--                    </mat-error>-->
                  </mat-form-field>

                </div>
                <div class="col-md-6 form-group">
                  <mat-form-field>
                      <libelle> Entity<span style="color: red">*</span></libelle>
                      <mat-select placeholder="Entité" name="entity"  [(ngModel)]="enti"
                      (selectionChange)="selectService()">
                      <mat-option *ngFor="let ent of entity" [value]="ent.idEntity">
                        {{ ent.nom_entity }}
                      </mat-option>
                    </mat-select>

                  </mat-form-field>

                </div>
              </div>
           
              

              <div class="row">
              <div class="col-md-6 form-group" [formGroup]="FormControlEmpployes" style="margin-top:-5px;">
                <mat-form-field class="example-full-width">
                    <libelle> Matricule Employe<span style="color: red">*</span></libelle>
                    <input matInput type="text" class="form-control" id="matricule"
                    formControlName="matricule" (keypress)="keyPressAlphaNumericWithCharacters($event)">
<!--                  <mat-error *ngIf="FormControlEmpployes.controls['matricule'].hasError('required')">-->
<!--                    le matricule doit etre <strong>Obligatoire</strong>-->
<!--                  </mat-error>-->
                  <mat-error *ngIf="FormControlEmpployes.controls['matricule'].hasError('minlength')">
                    le matricule doit composer au moins <strong>7 caractères</strong>
                  </mat-error>
                  <mat-error *ngIf="FormControlEmpployes.controls['matricule'].hasError('maxlength')">
                    le matricule ne doit pas dépasser <strong>7 caractères</strong>
                  </mat-error>
                </mat-form-field>

              </div>
              <div class="col-md-6 form-group">
                <mat-form-field>
                    <libelle> Service <span style="color: red">*</span></libelle>
                    <mat-select  name="service" [(ngModel)]="servi">
                    <mat-option *ngFor="let serv of service" [value]="serv.idService">
                      {{ serv.type_service }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 form-group" [formGroup]="FormControlEmpployes" style="margin-top:-5px;">
                <mat-form-field class="example-full-width">
                    <libelle> Reference <span style="color: red">*</span></libelle>
                    <input matInput type="text" class="form-control" id="reference"
                    formControlName="reference">
                </mat-form-field>
              </div>
              <div class="col-md-6 form-group">
                <mat-form-field>
                    <libelle> Categorie <span style="color: red">*</span></libelle>
                    <mat-select  name="categorie" [(ngModel)]="cate">
                    <mat-option *ngFor="let cat of categorie" [value]="cat.code_categorie">
                      {{ cat.libelle }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
            
            <div class="row">
              <div class="col-md-12">
                <span class="btn btn-file" style="font-size: 16px;background-color:rgba(17, 17, 227, 0.88); color: white; margin-left: 20px;margin-top: 1cm;"><i class="material-icons">file_download</i> Choisir Photo
                  <input type="file" class="form-control" name="image" (change)="onFileChanged($event)">
                 <img [src]="imgURL" height=" 100" width="100" *ngIf="imgURL" />
                </span>
                <div class="btn btn-file" style="margin-left:20% ; font-size: 16px;background-color:rgba(17, 17, 227, 0.88); color: white; margin-left: 20px;margin-top: 1cm;"><i class="material-icons">file_download</i>Justificatif
                  <input type="file" class="form-control" name="file"
                    (change)="selectJustificatif($event)" accept=".PNG ,.jpeg, .jpg,.pdf,.doc,.docx">
                 <!-- <img [src]="JustifURL" height=" 100" width="100" *ngIf="JustifURL">-->

                </div>
                  <span style="color: red"><strong>*</strong></span>
              </div>
            
            </div>
            <div class="text-right" style="margin-top: -60px; padding-bottom: 1cm;">
              <button mat-raised-button type="submit" [disabled]="!FormControlEmpployes.valid"  class="btn btn-success"  (click)="EmployeNow();FormControlEmpployes"
                >
                <span class="btn-label">
                  <i class="material-icons">check</i>
                </span>Enregistrer</button>
            </div>
              <span style="color: red;margin-left:65%">les champs avec * sont  <strong> obligatoires</strong></span>
          </form>
          <!--Footer-->
         



        </div>
      </div>
    </div>


  </div>


  <!-- <div class="modal-dialog modal-lg">

  </div> -->

  <!--modal list service-->
  <div class="modal fade" id="statu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" >
      <div class="modal-content" style="background-color: whitesmoke;color: black;">
          <div class="modal-header" style="background-color: whitesmoke;"
          >
              <div class="modal-title" id="noticeModal" style="padding-bottom: 10px;">
                  <span>participant:<b style="color: #0d47a1">{{employe.prenom}}{{employe.nom}}</b> </span><br>
                  <span>Service:<b style="color: #0d47a1">{{employe.ipmService?.type_service}}</b></span> <br>
                  <span>Statut: <b style="color: #0d47a1"> {{employe.ipmStatutEmploye?.emplStatut}}</b></span>
              </div>
              <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="material-icons">close</i>
              </button>
          </div>
          <div class="container-fluid">
          <form >
          <div class="modal-body" style="width: 900px;">
            <div class="row">
            <div class="col-md-3 ">
              <mat-form-field>
                <mat-select placeholder="Statut" name="statutEmploye" [(ngModel)]="codeStat">
                  <mat-option *ngFor="let stu of statutEmploye"  [value]="stu.idStatut">
                    {{ stu.emplStatut}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-3 ">
              
              <mat-form-field>
                <mat-select placeholder="Motif" name="motif" [(ngModel)]="motif">
                  <mat-option *ngFor="let stu of motifStatu"  [value]="stu">
                    {{ stu.libelle}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
<!--            <div class="col-md-3">-->
<!--              <input type="text" class="form-control" placeholder="MotifStatut" name="motifStatut" id="motifStatut"  [(ngModel)]="motifStatut">-->

<!--            </div>-->
             </div>
             <div class="row" *ngIf="!motif?._exclu">
            <div class="col-md-3">
              <mat-form-field>
                <input matInput [matDatepicker]="picker11" placeholder="date debut" id="datede" name="datede" [(ngModel)]="datede" (click)="picker11.open()">
                <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
                <mat-datepicker #picker11 startView="year"></mat-datepicker>
                </mat-form-field>
              
              
            </div> 
            <div class="col-md-3 ">
              <mat-form-field>
                <input matInput [matDatepicker]="picker22" placeholder="date fin " id="datefi" name="datefi" [(ngModel)]="datefi" (click)="picker22.open()">
                <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                <mat-datepicker #picker22 startView="year"></mat-datepicker>
                </mat-form-field>
              
              
            </div>               
              </div>
              <div class="col-md-3 "  *ngIf="motif?._exclu">
                  <mat-form-field>
                      <input matInput [matDatepicker]="picker22" placeholder="date effet" id="dateEf" name="dateEf" [(ngModel)]="dateEf" (click)="picker22.open()">
                      <mat-datepicker-toggle matSuffix [for]="picker22"></mat-datepicker-toggle>
                      <mat-datepicker #picker22 startView="year"></mat-datepicker>
                  </mat-form-field>


              </div>

          </div>
          <div class="text-center" style="margin-top: 40px; padding-bottom: 1cm;">
            <button mat-raised-button type="submit" (click)="updateStatut()" class="btn btn-success"
              data-dismiss="modal">
              <span class="btn-label">
                <i class="material-icons">check</i>
              </span>Modifier Statut</button>
          </div>
        </form>
        </div>
      </div>
  
  </div>
</div>

<!--fin modal-->

